.container {
	margin: 0 auto;
}

table{
	margin-left: auto;
	margin-right: auto;
}

.onekiri{
	background-color:rgb(233, 201, 159);
}

.onekanan{
	background-color:beige;
}

.datadiri{
	background-color: rgb(233, 201, 159);
}

.datapen{
	background-color: rgb(233, 201, 159);
}

img {
	border-radius: 50%;
	margin-top: auto;
	display:block;
	max-width: 130px;
}

h3{
	font-size: 18px;
}


p {
	font-size: 15px;
	margin-top: auto;
}
